html body [class^=stream__] {
    bottom: 32px;
}

html body [class^=interactive__] {
    height: 32px;
    background-image: none;
    background-color: #000;
}

.PlayerToolbar {
    height: 32px;
}

.PlayerToolbar-ContentRow, .ToolbarGiftArea-container {
    height: 0;
}

#js-toolbar-interact, .ToolbarGiftArea-giftShowList, .ToolbarGiftArea-arrowMoreEnter {
    display: none;
}

.InteractABAd-valueInfo--item span {
    color: #fff !important;
}
